body {
  font-family: Roboto;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: lighter;
  color:#808080;
  padding: 30px 0px 10px 0px;
  line-height: 1.7em;
}

.highlighted{
  font-weight: bold;
  color:black;
  padding: 0px 0px 0px 30px;
  margin:10px 0px 10px 0px;
  border-left: solid 5px #000;
}

h1{
  font-family: Roboto;
  font-size: 56px;
  font-weight: bold;
  color:#1A1A1A;
  padding: 5px 0px 5px 0px;
  letter-spacing: 1.2;
}


h2{
  font-family: Roboto;
  font-size: 18px;
  font-weight: lighter;
  color:#4D4D4D;
}

h3{
  font-size: 28px;
  font-weight: bold;
  color:#000;
  padding: 0px;
}

h4{
  font-size: 16px;
  font-weight: bold;
  color:black;
  text-transform: uppercase;
  font-family: BlinkMacSystemFont;
}

.space-up{
  height:70px;
}

h4 span{
  background:linear-gradient(0deg,#FFFF00 55%, #FFFFFF 9%)
}

h5{

}

h6{
  color:#B3B3B3;
  font-size: 14px;
  font-weight: lighter;
  padding: 10px 0px 10px 0px;
  line-height: 1.2em;
}

p::selection,h1::selection, h2::selection,h3::selection,h4 span::selection,h5::selection,h6::selection{
  background-color: rgba(0, 0, 255, 0.8);
  color: white;
}

.navi-bar {
  display: block;
  z-index: 2;
  width: 100%;
  top:0px;
  position: fixed;
  transition:all ease-in-out 0.4s;
  padding: 15px 0px 15px 0px;
  background-color: white;
  color: yellow;
  border-bottom: 1px solid #efefef;
}

.navi-white{
  color: white;
}

.fixedAtTop{
  -ms-transform: translateY(-70px);
  -webkit-transform: translateY(-70px);
  -moz-transform: translateY(-70px);
  -o-transform: translateY(-70px);
  transform: translateY(-70px);
}

#logo{
  text-align: left;
  width:32px;
}

.navi-menu {
  padding-top: 10px;
  float: right;
  position: relative;

}

.navi-item {
  margin-left: 50px;
  text-align: right;
  font-size: 14px;
  font-weight: normal;
  font-family: Source Sans Pro;
  text-decoration: none;
  color:black;
}

.navi-item:hover{
  text-decoration: none;
}

@media only screen and (max-width: 800px){
  .navi-item {
    margin-left: 30px;
    font-size: 12px;
  }
}

.navi-item-selected{
  margin-left: 40px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  letter-spacing: 3px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

.container-fluid{
  padding:0px;
}

.container-fluid img{
  width: 100%;
  z-index: 1;
}

.header{
  height: 100%;
  background-image: url("https://images.contentful.com/py55p8b6ms79/56MOgx8e1asCgOeweCq4QW/9119560c2c1616ba3f000036700eb88a/work-ibm_hero.png?fit=crop&h=2160&w=3456");
  background-position:center;
}

.index-header{
  height: 85%;
}

.index-header img{
  width:180px;
  margin-top: 50px;
}

#greeting{
  margin-top: 220px;
  font-size: 100px;
  font-weight: 500;
  color:#222;
  height:150px;
  margin-left: -5px;
}

.index-header h3{
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1.0;
  font-family: source sans pro;
  line-height: 1.5;
  color:#222;
}

.bold{
  font-weight: 700;
}

.button{
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px 36px 10px 32px;
  font-weight: 700;
  font-size: 18px;
  font-family: source sans pro;
  color:#1a1a1a;
  background-color: white;
  transition-duration: 0.2s;
}

.button img{
  width: 24px;
  margin-right: 12px;
  padding-bottom: 2px;
}

.button:hover{
  background-color: black;
  color: #fff;

}

.col-md-2{
  text-align: right;
  padding:30px 0px 30px 0px;
}

@media only screen and (min-width: 800px){
  .col-md-7{
    padding:30px 80px 30px 80px;
  }
}

.preview-img{
  width: 100%;
  transition:all ease-in-out 0.2s;
}

.preview-img:hover{
  opacity: 0.6;
}

.preview-subtitle{
  padding:30px 0px 0px 0px;
  font-size: 18px;
}

.preview-title{
  font-size: 32px;
}

.preview-block{
  padding: 250px 120px 80px 120px;
}

@media only screen and (max-width: 800px){
  .preview-block{
    padding: 80px 60px 80px 60px;
  }
}


.preview-time{
  font-size: 18px;
}

.article-title{
  position: absolute;
  bottom: 0;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  box-shadow:0px -10px 20px rgba(0, 0, 0, 0.1);
}

.in-page-navi{
  position: fixed;
  text-align: right;
  top:60px;
  z-index: 0;
  display: none;
}

@media only screen and (max-width: 1200px){
  .in-page-navi{
    visibility: hidden;
  }
}

.in-page-navi h6{
  padding: 3px 0px 3px 0px;
}

.anchor{
  color:#B3B3B3;
  font-size: 14px;
  font-weight: lighter;
  display: block;
  margin:10px 0px 10px 0px;
}

.anchor-active{
  font-weight: bold;
  color:black;
  padding: 0px 0px 0px 0px;
  border-left: solid 5px #000;
}

.in-line-image{
  width: 100%;
}

.full-image{
  z-index: 10;
}

.footer{
  background-color: #1a1a1a;
  height:250px;
  width: 100%;
}

.footer h5{
  padding-top: 80px;
  color: #cccccc;
  font-size: 22px;
  font-weight:bold;
  margin-left: 20px;
}

.footer h2{
  font-size: 16px;
  color: white;
  font-weight: 200;
  opacity: 0.3;
  margin-left: 20px;
}

.bg-grey, .bg-white{
  background-color: #f7f7f7;
  padding:80px 0px 80px 0px;
  width: 100%;
}

.bg-white{
  background-color: #fff;
}


.full-width{
  padding-left: 0px;
  padding-right: 0px;
}

.full-width img{
  box-shadow: 0px 0px 15px #d3d3d3;
}

/*animation*/


.actor {
  font-size: 2.8rem;
  display: flex;
  margin-bottom: $spacing;

  &:last-of-type {
    margin-bottom: $spacing-large;
  }
}

.actor__content {
  flex-grow: 1;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.actor__content--typing::after {
  content: '|';
  animation: blink 800ms infinite;
}
